.grid {
  display: flex;
  flex-wrap: wrap;
  width: 616px;
  height: 616px;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: black;
}


.mole {
  background-image: url(images/mole.jpg);
  background-size: cover;
//  height: 200px;
//  width: 200px;

}